In [91]:
import pandas as pd
import numpy as np
import json

In [151]:
def player_dictionary():
    '''
    Data source: https://any-api.com/nba_com/nba_com/console/_commonallplayers/GET
    Actual URL: (https://stats.nba.com/stats/commonallplayers?LeagueID=00&Season=2019-20&IsOnlyCurrentSeason=0)
    Resource: https://any-api.com:8443/https://stats.nba.com/stats/commonallplayers?LeagueID=00&Season=2019-20&IsOnlyCurrentSeason=0
    '''
    with open('data/totalPlayerIDs.json') as f:
        j = json.loads(f.read())
        headers = j['resultSets'][0]['headers']
        player_ids = j['resultSets'][0]['rowSet']
        nba_players = pd.DataFrame(player_ids, columns=headers)
        nba_players.to_csv('data/NBA_Player_Dictionary.csv', index=False)
    return pd.read_csv('data/NBA_Player_Dictionary.csv')

In [168]:
nba_player_dict = player_dictionary()

In [150]:
nba_player_dict[['Hervey' in i for i in nba_player_dict['DISPLAY_FIRST_LAST']]]

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
1739,1628987,"Hervey, Kevin",Kevin Hervey,1,2019,2019,kevin_hervey,1610612760,Oklahoma City,Thunder,OKC,thunder,N,11

In [169]:
fd_players = pd.read_csv('data/FanDuel-NBA-2019-12-16-41696-players-list.csv')

In [170]:
fd_players

,Id,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Tier,Unnamed: 14,Unnamed: 15
0,41696-9644,SG,James,James Harden,Harden,60.484614,26,12400,SA@HOU,HOU,SA,NaN,NaN,NaN,NaN,NaN
1,41696-40199,SF,Giannis,Giannis Antetokounmpo,Antetokounmpo,58.188462,26,12100,DAL@MIL,MIL,DAL,NaN,NaN,NaN,NaN,NaN
2,41696-84669,PG,Luka,Luka Doncic,Doncic,53.672002,25,11900,DAL@MIL,DAL,MIL,O,Ankle,NaN,NaN,NaN
3,41696-15595,SG,Bradley,Bradley Beal,Beal,43.825002,24,10500,WAS@DET,WAS,DET,NaN,NaN,NaN,NaN,NaN
4,41696-9642,PG,Russell,Russell Westbrook,Westbrook,44.752176,23,10400,SA@HOU,HOU,SA,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,41696-116202,PG,Jalen,Jalen Lecque,Lecque,0.000000,0,3500,POR@PHO,PHO,POR,NaN,NaN,NaN,NaN,NaN
226,41696-58350,SF,Stanley,Stanley Johnson,Johnson,2.880000,5,3500,CLE@TOR,TOR,CLE,O,Groin,NaN,NaN,NaN
227,41696-9715,SG,Marco,Marco Belinelli,Belinelli,9.852174,23,3500,SA@HOU,SA,HOU,NaN,NaN,NaN,NaN,NaN
228,41696-63478,C,Cristiano,Cristiano Felicio,Felicio,9.635000,60,3500,CHI@OKC,CHI,OKC,GTD,Wrist,NaN,NaN,NaN
229,41696-9725,SF,C.J.,C.J. Miles,Miles,13.439999,10,3500,WAS@DET,WAS,DET,O,Wrist,NaN,NaN,NaN

In [172]:
player_dict_df = player_dictionary()

In [173]:
player_dict_df

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,NaN,NaN,NaN,NaN,Y,0
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,NaN,NaN,NaN,NaN,Y,0
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,0,NaN,NaN,NaN,NaN,Y,0
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,0,NaN,NaN,NaN,NaN,Y,0
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,0,NaN,NaN,NaN,NaN,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4486,1627790,"Zizic, Ante",Ante Zizic,1,2017,2019,ante_zizic,1610612739,Cleveland,Cavaliers,CLE,cavaliers,Y,1
4487,78647,"Zoet, Jim",Jim Zoet,0,1982,1982,HISTADD_jim_zoet,0,NaN,NaN,NaN,NaN,Y,0
4488,78648,"Zopf, Bill",Bill Zopf,0,1970,1970,HISTADD_zip_zopf,0,NaN,NaN,NaN,NaN,Y,0
4489,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2019,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,Y,1
4490,78650,"Zunic, Matt",Matt Zunic,0,1948,1948,HISTADD_matt_zunic,0,NaN,NaN,NaN,NaN,Y,0

In [174]:
roto_data = pd.read_csv('data/Roto_Data/roto_total_data.csv')

In [175]:
df = pd.Series(['Porter' in i for i in roto_data['LastName, FirstName'].unique()])
df[df == True]

405    True
710    True
dtype: bool

In [176]:
roto_data['LastName, FirstName'].unique()[405]

'Porter, Otto'

In [177]:
def names_broken(names):
    return list(set(names) - set(player_dict_df['DISPLAY_FIRST_LAST'].unique()))

In [178]:
def name_fixed(name):
    return name in set(player_dict_df['DISPLAY_FIRST_LAST'].unique())

In [179]:
names_to_be_fixed = names_broken(fd_players['Nickname'].unique())
name_fixer = {}
for i in range(len(names_to_be_fixed)):
    copy_name = names_to_be_fixed[i]
    names_to_be_fixed[i] += ' Jr.'
    if name_fixed(names_to_be_fixed[i]):
        name_fixer[copy_name] = names_to_be_fixed[i]
        print(names_to_be_fixed[i])
names_to_be_fixed = names_broken(names_to_be_fixed)
for i in range(len(names_to_be_fixed)):
    copy_name = names_to_be_fixed[i].strip('Jr.').strip(' ')
    names_to_be_fixed[i] = copy_name.replace('.','')
    if name_fixed(names_to_be_fixed[i]):
        name_fixer[copy_name] = names_to_be_fixed[i]
        print(names_to_be_fixed[i])
names_to_be_fixed = names_broken(names_to_be_fixed)
names_to_be_fixed

Wendell Carter Jr.
Danuel House Jr.
Kelly Oubre Jr.
Troy Brown Jr.
Derrick Jones Jr.
Otto Porter Jr.
CJ Miles

['Lonnie Walker']

In [180]:
name_fixer['Lonnie Walker'] = 'Lonnie Walker IV'

In [181]:
name_fixer

{'Wendell Carter': 'Wendell Carter Jr.',
 'Danuel House': 'Danuel House Jr.',
 'Kelly Oubre': 'Kelly Oubre Jr.',
 'Troy Brown': 'Troy Brown Jr.',
 'Derrick Jones': 'Derrick Jones Jr.',
 'Otto Porter': 'Otto Porter Jr.',
 'C.J. Miles': 'CJ Miles',
 'Lonnie Walker': 'Lonnie Walker IV'}

In [182]:
fd_players['Nickname'] = fd_players['Nickname'].replace(name_fixer)

In [183]:
player_dict_df

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,NaN,NaN,NaN,NaN,Y,0
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,NaN,NaN,NaN,NaN,Y,0
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,0,NaN,NaN,NaN,NaN,Y,0
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,0,NaN,NaN,NaN,NaN,Y,0
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,0,NaN,NaN,NaN,NaN,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4486,1627790,"Zizic, Ante",Ante Zizic,1,2017,2019,ante_zizic,1610612739,Cleveland,Cavaliers,CLE,cavaliers,Y,1
4487,78647,"Zoet, Jim",Jim Zoet,0,1982,1982,HISTADD_jim_zoet,0,NaN,NaN,NaN,NaN,Y,0
4488,78648,"Zopf, Bill",Bill Zopf,0,1970,1970,HISTADD_zip_zopf,0,NaN,NaN,NaN,NaN,Y,0
4489,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2019,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,Y,1
4490,78650,"Zunic, Matt",Matt Zunic,0,1948,1948,HISTADD_matt_zunic,0,NaN,NaN,NaN,NaN,Y,0

In [184]:
fd_players['Nickname'] = fd_players['Nickname'].replace(name_fixer)

In [185]:
set(fd_players['Nickname'].unique()) - set(player_dict_df['DISPLAY_FIRST_LAST'].unique())

set()

In [186]:
player_dict_df.merge(fd_players, left_on='DISPLAY_FIRST_LAST', right_on='Nickname')

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,...,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Tier,Unnamed: 14,Unnamed: 15
0,203500,"Adams, Steven",Steven Adams,1,2013,2019,steven_adams,1610612760,Oklahoma City,Thunder,...,22,7000,CHI@OKC,OKC,CHI,NaN,NaN,NaN,NaN,NaN
1,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2019,bam_adebayo,1610612748,Miami,Heat,...,26,9300,MIA@MEM,MIA,MEM,NaN,NaN,NaN,NaN,NaN
2,200746,"Aldridge, LaMarcus",LaMarcus Aldridge,1,2006,2019,lamarcus_aldridge,1610612759,San Antonio,Spurs,...,23,7700,SA@HOU,SA,HOU,NaN,NaN,NaN,NaN,NaN
3,1628960,"Allen, Grayson",Grayson Allen,1,2018,2019,grayson_allen,1610612763,Memphis,Grizzlies,...,13,3800,MIA@MEM,MEM,MIA,O,Ankle,NaN,NaN,NaN
4,203937,"Anderson, Kyle",Kyle Anderson,1,2014,2019,kyle_anderson,1610612763,Memphis,Grizzlies,...,20,3700,MIA@MEM,MEM,MIA,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,1626159,"Winslow, Justise",Justise Winslow,1,2015,2019,justise_winslow,1610612748,Miami,Heat,...,10,5400,MIA@MEM,MIA,MEM,O,Back,NaN,NaN,NaN
226,1626174,"Wood, Christian",Christian Wood,1,2015,2019,christian_wood,1610612765,Detroit,Pistons,...,24,3800,WAS@DET,DET,WAS,NaN,NaN,NaN,NaN,NaN
227,1626153,"Wright, Delon",Delon Wright,1,2015,2019,delon_wright,1610612742,Dallas,Mavericks,...,23,4300,DAL@MIL,DAL,MIL,NaN,NaN,NaN,NaN,NaN
228,201152,"Young, Thaddeus",Thaddeus Young,1,2007,2019,thaddeus_young,1610612741,Chicago,Bulls,...,27,4000,CHI@OKC,CHI,OKC,NaN,NaN,NaN,NaN,NaN
229,1627790,"Zizic, Ante",Ante Zizic,1,2017,2019,ante_zizic,1610612739,Cleveland,Cavaliers,...,9,3500,CLE@TOR,CLE,TOR,NaN,NaN,NaN,NaN,NaN